body {
	background-color: #E5E5E5;
}

#wrapper {
	text-align: center;
	margin-top: 150px;
}

#seconds-counter {
	color: #050505;
	font-size: 4em;
	width: 400px;
	font-family: "Arial";
	margin: 0 auto;
}

#buttons {
	width: 400px;
	margin: 10px auto;
}

.img_btn {
	width: 60px;
	height: 60px;
}

#pause {
}

#play {
	margin-left: 25px;
	margin-right: 25px;
}

#save {
}